<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="/static/css/auth4.css">
    <script src="/static/js/authpage6.js"></script>
</head>
<body>
    <div class="main">
        <div onclick="rotation()" id="auth-part" class="auth-part">
            <div id="auth-child" class="auth-child">
            <div id="auth-title" class="auth-title">
                <span>Authentication</span>
            </div>
            <form class="auth-form" method="POST">
                <div class="form-inputes">
                    <input class="auth-form-input" type="email" name="email" placeholder="example@gmail.com"></input>
                    <input class="auth-form-input" type="pass" name="pass" placeholder="12345678"></input>
                </div>
                <div class="form-button">
                    <button class="auth-button" type="submit">Confirm</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>