<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPanel</title>
    <link rel="stylesheet" href="/static/css/index3.css">
    <script src="/static/js/updater4.js"></script>
</head>
<body>
    <div class="">
        <div class="button-to-get-menu">
            <div class="menu">
                <button><a href="/auth">Logout</a></button>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="popsite-table">
            <div class="main-part-table">
                <table id="main-table" class="main-table" border="2">
                    <tr>
                        <th>Service name</th>
                        <th>Visites</th>
                    </tr>
                </table>
            </div>
            <div class="main-requester">
                <button onclick="updateTable()" class="requester-button">Update</button>
            </div>
        </div>
    </div>
</body>
</html>